:root {
  --pale-grey: #f5f7fc;
  --primary-color: #ef6c00;
  --secondary-color: #283593;
  --white: #ffffff;

  --titleMobileFontFamily: "OverpassSemiBold";
  --primaryMobileFontFamily: "SourceSansProRegular";
  --primaryMobileFontFamilyBold: "SourceSansProSemiBold";
}