.userInfo {
  font-family: var(--primaryMobileFontFamily);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #646363;
}

.userName {
  font-family: var(--primaryMobileFontFamilyBold);
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(76, 75, 75, 255);
}

.imgWrapper {
  width: 70px;
  height: 70px;
  margin: 0 auto;
    overflow: hidden;
  border-radius: 50%;
}
