.wrapper {
  background: url('../../assets/img-320/third-block-bg-320x1031.jpg')
}

.title {
  font-family: var(--titleMobileFontFamily);
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 70px 43px 30px;
  color: var(--white);
}

.imgWrapper {
  width: 257px;
  height: 216px;
  margin: 0 auto 30px;
}

.subTitle {
  font-family: var(--titleMobileFontFamily);
  font-size: 22px;
  line-height: 26px;
  padding: 30px 60px 20px;
    text-align: center;
      color: var(--white);
}

.desc {
  font-family: var(--primaryMobileFontFamily);
  font-size: 16px;
  line-height: 22px;
 color: var(--white);
  text-align: center;
  padding: 0 16px 20px;
}
