.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    height: 65px;
    background-color: var(--pale-grey);
}

.logo {
    width: 134px;
}
